@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(45deg, rgba(2, 0, 31, 1) 0%, rgba(28, 28, 51, 1) 20%, rgba(12, 12, 28, 1) 40%, rgba(33, 20, 46, 1) 60%, rgba(33, 24, 36, 1) 80%, rgba(28, 22, 48, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: lightgray;
    height: 100%;
    overflow: hidden
}

.page {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

#uploader {
    width: 35vw;
    padding: 10vh 5vw;
    background-color: rgba(89, 89, 89, 0.5);
    margin-bottom: 20vh;
    border-radius: 100px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-out;
}

#uploader.fake {
    background-color: rgba(191, 17, 45, 0.5);
}

#uploader.real {
    background-color: rgba(16, 89, 34, 0.5);
}

.log {
    width: 25%;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.5);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2), 10px 0 10px rgba(0, 0, 0, 0.2);
}

li {
    border-bottom: 1px solid black;
    padding: 10px;
    line-height: 1.5;
}

.list-container {
    overflow: scroll;
    height: 85vh;
}

.log-top {
    height: 15vh;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

h2 {
    margin: 0;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button,
input[type="file"]::file-selector-button {
    background-color: black;
    color: white;
    transition: 0.5s;
}

button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: white;
    color: black;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}