body {
    background-color: khaki;
}

.page {
    display: flex;
    flex-direction: row;
}

.uploader {
    width: 60%;
}

.log {
    width: 35%;
}

button,
input[type="file"]::file-selector-button {
    background-color: black;
    color: white;
    transition: 0.5s;
}

button:hover,
input[type="file"]::file-selector-button:hover {
    background-color: white;
    color: black;
}